/* global rulse --------------- */
:root {
    --main-color:#ff565b;
    --second-color:#7a7a7a;
    --thired-color:#2a2a2a;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* background-color: rgb(39, 32, 37); */
    /* height: 10000px; */
}
.clear-both {
    clear: both;
}
.container-head,
.container-section,
.container-section2,
.container-cath,
.container-footer,
.container-copy{
    /* margin-top: 3px; */
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}
/*small */
@media (min-width:768px) {
    .container-head,
    .container-section,
    .container-section2,
    .container-cath,
.container-footer,
.container-copy{
        width:750px;
    }
}
/*medium */
@media (min-width:992px) {
    .container-head,
    .container-section,
    .container-section2,
    .container-cath,
.container-footer,
.container-copy{
        width: 970px;
    }
}
/*large */
@media (min-width:1200px) {
    .container-head,
    .container-section,
    .container-section2,
    .container-cath,
.container-footer,
.container-copy{
        width:1170px;
    }
}
/* global rulse --------------- */
/* start lading --------------*/
.lading {
    background-image: url("/image/page-banner-about-us.jpg");
    min-height:55vh;
    width: 100%;
    position: relative;
    padding-bottom: 135px;
    transition: all .9s;
    background-size: cover;
}
/* end lading ---------*/
/* start head  */
.head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.head .linked {
    display: flex;
    width: 60%;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 10px;
}
.head .linked li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}
.head .linked li a:hover {
    color:var(--main-color)
}
.head .linked .active a {
    color: var(--main-color);
}
.head .linked .active {
    padding: 10px;
    padding-left: 40px;
    padding-right:40px ;
    background-color: white;
    border-top: 2px solid var(--main-color);
    border-radius: 4px;
    margin-top: -10px;
}
.head .list-2 {
    display: none;
}
.head .bar {
    display: none;
}
.head .list-2 .active a {
    color: var(--main-color);
}
.head .list-2 li a:hover {
    color: var(--main-color);
}

/* end head  */
/* start text  -----------------------------------*/
.lading  .text {
    position:absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50px, -50px);
    width: 450px;
    text-align: center;
    color: white;
}
.lading .text h1 {
    font-weight: bold;
    font-size:50px;
    letter-spacing: 3px;
}
.lading  .text h1 span {
    color:var(--main-color);
}
.lading .text p {
    line-height: 1.6;

}
/* end----------------------------------------------- text  */
/* start section  */
.section {
    margin-top: 136px;
    width: 100%;
    text-align: center;
    position: relative;
}
.section img {
    width: 100%;
    border-radius: 10px;
}
.section .first {
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 3px;
}
.section .flow {
    display: flex;
    background-color: rgba(255, 255, 255, 0.719);
    justify-content: space-around;
    position:absolute;
    bottom:20px;
    left: 2%;
    width: 90%;
    border-radius: 10px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 150px; */
    
}
.par {
    width:100%;
}
.par .p-one {
    margin-top:50px;
    margin-bottom: 30px;
    line-height: 1.6;
    word-spacing: 5px;
    color:var(--second-color);
    /* font-weight: bold; */
    font-size: 15px ;
}
.par .p-two {
    word-spacing: 5px;
    line-height: 1.6;
    word-spacing: 1px;
    color:var(--second-color);
    /* font-weight: bold; */
    font-size: 15px ;
}
.par .p-two span {
    color:var(--thired-color);
    font-weight: bold;
}
.par .p-two a {
    text-decoration:none;
}
.par .p-two a:hover {
    text-decoration:underline;
}

/* end section  */ 
/* start section 2  */
.section2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.section2 .two  img,
.section2 .one img{
    width: 90%;
    border-radius: 10px;

}
.section2 .one,
.section2 .two {
    width: 100%;
}
.secttion3 {
    margin-top: 30px;
}
.secttion3 p {
    line-height: 1.6;
    color: var(--second-color);
}
.section4 {
    width: 100%;
    margin-top: 100px;
}
.section4 .left ,
.section4 .right{
    display: flex;
    
}
.section4 .left .te h1 ,
.section4 .right .te h1 {
    font-size: 20px;
}
.section4 .left .te
{
    margin-left: 20px;
}
.section4 .right .te{
    margin-right: 20px;
}
.section4 .left {
    float: left;
}
.section4 .right {
    float: right;
}
.section4 .left .im  img,
.section4 .right .im img{
    border-radius: 10px;
}
/* end section 2  */
/* start hire  */
.hire {
    background-color: var(--thired-color);
    margin-top: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.hire h1{
    color: white;
}
.hire div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.hire div a {
    text-decoration: none;
    color :var(--main-color);
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    width:150px;
    transition: all .9s;
    text-align: center;
}
.hire div a:hover {
    background-color: var(--main-color);
    color: white;
}
/* end hire  */
/* start footer  */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top:100px
}
.footer .left {
    width: 40%;
}
.footer .left img {
    margin-bottom: 100px;
}
.footer .left p {
    line-height: 1.6;
    color:var(--second-color)
}
.footer .righ {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .righ h1 {
    margin-bottom: 30px;
    font-size: 20px;
}
.footer .righ  p{
    margin-bottom: 20px;
    color: var(--second-color);
}
.footer .righ  p a {
    text-decoration: none;
    color: var(--second-color);
    transition: all .3s;
}
.footer .righ  p a:hover {
    color: var(--main-color);
}
.footer .righ .four {
    width: 100%;
    position: relative;
}
.footer .righ .four .text {
    width: 90%;
    border: none;
    border-bottom:1px solid rgb(0, 0, 0);
}
.footer .righ .four  .submit {
    position: absolute;
    right:90px;
    top:81px;
    border:none;
    background-color: none;
    color: black;
    transition: all .9s;
    cursor: pointer;
}
.footer .righ .four  .submit:hover {
    color :var(--main-color)
}
.footer .righ .four  .text {
    padding: 10px;
}
/*end footer  */
/* start copy */
.container-copy .copy {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
}
.container-copy .copy .left{
    width:50%;
}
.container-copy .copy .left p {
    color: var(--second-color);
}
.container-copy .copy .left p a {
    color: var(--main-color);
    text-decoration: none;
}
.container-copy .copy .right{
    width:50%;
    position: relative;
}
.container-copy .copy .right p {
    position:absolute;
    right: 0;
    color: var(--second-color);
    transition: all .3s;
}
.container-copy .copy .right p:hover {
    color: var(--main-color);
}
/* end copy */

/* start media  head  */
@media (max-width:1024px) {
    .head .linked{
        display: none;
    }
    .head .list-2 {
        display: block;
        width: 100%;
        background-color:var(--thired-color);
        list-style: none;
        margin-top: 10px;
        transition: all .9s; 
        z-index: 10;
        border-radius: 5px;
        height: 0;
        padding-bottom: 220px;
    }
    
    .list-2 div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        list-style: none;
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .list-2 li a {
        text-decoration: none;
        color: white;
        transition: all .9s;
    }.list-2 .active {
        color: var(--main-color);
    }
    .list-2 li:not(:last-child) {
        margin:10px;
        border-bottom: 1px solid red;
        border-radius: 4px;
        padding-bottom: 5px;
    }
    .list-2 li:last-child {
        margin:10px;
        padding-bottom: 5px;
    }
    .list-2 li a:hover {
        color: var(--main-color);
    }
    /* start bar  */
    .head .bar {
        display: block;
        width: 50px;
        height: 33px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        border-radius: 3px;
        margin-top: 10px;;
        
    }
    .head .bar .one{
        width: 100%;
        height: 2px;
        margin-top: 12px;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 2px solid var(--thired-color);
        padding-top: 5px;
    ;
    }
    .head .bar .two {
        width: 100%;
        height: 2px;
        margin-top: 0px;
        position: absolute;
        top: -1px;
        border-bottom: 2px solid var(--thired-color);

    }
    .head .bar .three {
        width: 100%;
        height: 2px;
        margin-top: 12px;
        position: absolute;
        top: -5px;
        border-bottom: 2px solid var(--thired-color);
    ;
    }
    .head .bar .bar-2 {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 6px;
    }
    /* end bar  */
}
/* end media  head  */
/* start text  */
@media (max-width:659px) {
    .lading  .text {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50px, -50px);
        width: 60%;
        text-align: center;
        color: white;
    }
    .lading .text h1 {
        font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    }
    .lading .text p {
        line-height: 1.3;
    }
}
@media (min-width:660px) and  (max-width:779px) {
    .lading  .text {
        position:absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50px, -50px);
    width: 450px;
    text-align: center;
    color: white;
    }
}
@media (min-width:780px) and  (max-width:992px)  {
    .lading  .text {
        position:absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50px, -50px);
    width: 450px;
    text-align: center;
    color: white;
    }
}
/* end text  */
/* start img and pp  */
@media (max-width:659px) {
    .section .flow {
        display: flex;
        background-color: rgba(255, 255, 255, 0.719);
        justify-content: space-around;
        flex-direction: column;
        position:relative;
        bottom:0px;
        left: 2%;
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 150px; */
    }
    .section .flow .one ,
    .section .flow .two ,
    .section .flow .three ,
    .section .flow .four ,
    .section .flow .five ,
    .section .flow .six {
        margin-bottom: 20px;
    }
}
@media (min-width:660px) and  (max-width:779px)  {
    .section .flow {
        display: flex;
        background-color: rgba(255, 255, 255, 0.719);
        justify-content: space-around;
        flex-direction: column;
        position:relative;
        bottom:0px;
        left: 2%;
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 150px; */
    }
    .section .flow .one ,
    .section .flow .two ,
    .section .flow .three ,
    .section .flow .four ,
    .section .flow .five ,
    .section .flow .six {
        margin-bottom: 20px;
    }
}
@media (min-width:780px) and  (max-width:992px)   {
    .section .flow {
        display: flex;
        background-color: rgba(255, 255, 255, 0.719);
        justify-content: space-around;
        flex-direction: column;
        position:relative;
        bottom:0px;
        left: 2%;
        width: 90%;
        border-radius: 10px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 150px; */
    }
    .section .flow .one ,
    .section .flow .two ,
    .section .flow .three ,
    .section .flow .four ,
    .section .flow .five ,
    .section .flow .six {
        margin-bottom: 20px;
    }
}
/* end img and pp  */
/* start section 2  */
@media (max-width:659px) {
    .section2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 95%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .section2 .one ,
    .section2 .two {
        margin-bottom: 20px;
    }
}
@media (min-width:660px) and  (max-width:779px) {
    .section2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 95%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .section2 .one ,
    .section2 .two {
        margin-bottom: 20px;
    }
}
@media (min-width:780px) and  (max-width:992px)  {
    .section2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 95%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .section2 .one ,
    .section2 .two {
        margin-bottom: 20px;
    }
}
/* end section 2  */
/* start hire  */
@media (max-width:659px){
    .hire {
        background-color: var(--thired-color);
        margin-top: 100px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width:660px) and (max-width:779px) {
    .hire {
        background-color: var(--thired-color);
        margin-top: 100px;
        padding: 30px;
        display: flex;
        ;justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width:780px) and (max-width:992px) {
    .hire {
        background-color: var(--thired-color);
        margin-top: 100px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* start hire  */
/* footer 0-------------------------0------------------------------------0-----------------------------------------0---------------------------------------------0-------------------------------------------------------0-------------------------------------------------------------------------------------0----------------------------------------------------------------0----------------------------------------------------------------------0--------------------------------- */
@media (max-width:659px){
    .container-copy .copy,
    .footer .righ,
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-copy .copy .right p {
        margin-top:20px;
        margin-bottom:20px;
    }
    .footer .left {
        width: 62%;
        margin-bottom: 10px;
    }
}
@media (min-width:660px) and (max-width:779px) {
    .container-copy .copy,
    .footer .righ,
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-copy .copy .right p {
        margin-top:20px;
        margin-bottom:20px;
    }
}
@media (min-width:780px) and (max-width:992px) {
    .container-copy .copy,
    .footer .righ,
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-copy .copy .right p {
        margin-top:20px;
        margin-bottom:20px;
    }
}
/* end  footer  0--------------------------------------------0------------------------------------------------0-------------------------------------------------------------0-------------------------------------------------------------0----------------------------------------0-----------------------------------------------*/
/* start midea  */
@media (max-width:659px)  {
    .container-head ,
    .container-box,
    .container-section,
    .container-cath,
    .container-footer,
    .container-copy{
        width: 283px;
    }
    
}
/*medium */
@media (min-width:660px) and  (max-width:779px) {
    .container-head ,
    .container-box,
    .container-section,
    .container-cath,
    .container-footer,
    .container-copy{
        width: 600px;
    }
    
}
/*large */
@media (min-width:780px) and  (max-width:992px)  {
    .container-head,
    .container-box ,
    .container-section,
    .container-cath ,
    .container-footer,
    .container-copy{
        
        width: 687px;
    }
    
}

/* end midea  */
.container-copy .right .go{
    cursor: pointer;
}